

html body { 
    background: url(../images/flowerPinkRoseTanColor.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }

.Buttons {
    width: 70px;
    height: 70px;
}

#buttonBar{
    background: rgba(37, 129, 65, 0.6);
    box-shadow: 5px 10px 18px #888888;
    padding:
}