

html body { 
    background: url(../images/flowerPinkRoseTanColor.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
.picture {
    float: left;
    width:500px;
    margin-left:40px;
    margin-top:30px;
    
}

#kittenPicture {
    float:left;
    width: 500px;

}
.Buttons {
    width: 70px;
    height: 70px;
    padding: 5px;
    float: left;
}

#buttonBar{
    background: rgba(37, 129, 65, 0.6);
    box-shadow: 5px 10px 18px #888888;
    padding:15px;
    border-radius: 5px;
    width:425px;
    float:left;
}
.text{
    width: 400px;
    float: left;
}